:root {
  --md-source: #81da8f;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #001204;
  --md-ref-palette-primary5: #001504;
  --md-ref-palette-primary6: #001805;
  --md-ref-palette-primary10: #002109;
  --md-ref-palette-primary12: #00260b;
  --md-ref-palette-primary17: #003211;
  --md-ref-palette-primary20: #003915;
  --md-ref-palette-primary22: #003e17;
  --md-ref-palette-primary24: #00431a;
  --md-ref-palette-primary25: #00461b;
  --md-ref-palette-primary30: #005321;
  --md-ref-palette-primary35: #006028;
  --md-ref-palette-primary40: #076d30;
  --md-ref-palette-primary50: #2e8746;
  --md-ref-palette-primary60: #4ba25d;
  --md-ref-palette-primary70: #66be76;
  --md-ref-palette-primary80: #81da8f;
  --md-ref-palette-primary87: #94eea1;
  --md-ref-palette-primary90: #9cf7a9;
  --md-ref-palette-primary92: #a2fdae;
  --md-ref-palette-primary94: #b7ffbe;
  --md-ref-palette-primary95: #c5ffc9;
  --md-ref-palette-primary96: #d2ffd3;
  --md-ref-palette-primary98: #ebffe8;
  --md-ref-palette-primary99: #f6fff2;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #001204;
  --md-ref-palette-secondary5: #001505;
  --md-ref-palette-secondary6: #001806;
  --md-ref-palette-secondary10: #00210a;
  --md-ref-palette-secondary12: #00260d;
  --md-ref-palette-secondary17: #003213;
  --md-ref-palette-secondary20: #003916;
  --md-ref-palette-secondary22: #003e19;
  --md-ref-palette-secondary24: #00431b;
  --md-ref-palette-secondary25: #00461d;
  --md-ref-palette-secondary30: #005323;
  --md-ref-palette-secondary35: #00602a;
  --md-ref-palette-secondary40: #126d34;
  --md-ref-palette-secondary50: #33874a;
  --md-ref-palette-secondary60: #4ea162;
  --md-ref-palette-secondary70: #69bd7a;
  --md-ref-palette-secondary80: #84d994;
  --md-ref-palette-secondary87: #97eda6;
  --md-ref-palette-secondary90: #a0f6ae;
  --md-ref-palette-secondary92: #a5fcb3;
  --md-ref-palette-secondary94: #b6ffc0;
  --md-ref-palette-secondary95: #c5ffca;
  --md-ref-palette-secondary96: #d2ffd4;
  --md-ref-palette-secondary98: #eaffe8;
  --md-ref-palette-secondary99: #f6fff2;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #001114;
  --md-ref-palette-tertiary5: #001417;
  --md-ref-palette-tertiary6: #00161a;
  --md-ref-palette-tertiary10: #001f24;
  --md-ref-palette-tertiary12: #002429;
  --md-ref-palette-tertiary17: #002f36;
  --md-ref-palette-tertiary20: #00363d;
  --md-ref-palette-tertiary22: #063b42;
  --md-ref-palette-tertiary24: #0e3f46;
  --md-ref-palette-tertiary25: #114149;
  --md-ref-palette-tertiary30: #1f4d54;
  --md-ref-palette-tertiary35: #2c5960;
  --md-ref-palette-tertiary40: #39656d;
  --md-ref-palette-tertiary50: #527e86;
  --md-ref-palette-tertiary60: #6c98a0;
  --md-ref-palette-tertiary70: #86b3bb;
  --md-ref-palette-tertiary80: #a1ced7;
  --md-ref-palette-tertiary87: #b4e2eb;
  --md-ref-palette-tertiary90: #bdeaf3;
  --md-ref-palette-tertiary92: #c2f0f9;
  --md-ref-palette-tertiary94: #c8f6ff;
  --md-ref-palette-tertiary95: #d2f7ff;
  --md-ref-palette-tertiary96: #dbf9ff;
  --md-ref-palette-tertiary98: #eefcff;
  --md-ref-palette-tertiary99: #f6fdff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0c0f0c;
  --md-ref-palette-neutral5: #0f120f;
  --md-ref-palette-neutral6: #111411;
  --md-ref-palette-neutral10: #1a1c19;
  --md-ref-palette-neutral12: #1e201d;
  --md-ref-palette-neutral17: #282b27;
  --md-ref-palette-neutral20: #2e312e;
  --md-ref-palette-neutral22: #333532;
  --md-ref-palette-neutral24: #373a36;
  --md-ref-palette-neutral25: #393c38;
  --md-ref-palette-neutral30: #454744;
  --md-ref-palette-neutral35: #51534f;
  --md-ref-palette-neutral40: #5d5f5b;
  --md-ref-palette-neutral50: #757873;
  --md-ref-palette-neutral60: #8f918d;
  --md-ref-palette-neutral70: #aaaca7;
  --md-ref-palette-neutral80: #c5c7c2;
  --md-ref-palette-neutral87: #d9dbd5;
  --md-ref-palette-neutral90: #e2e3dd;
  --md-ref-palette-neutral92: #e7e9e3;
  --md-ref-palette-neutral94: #edeee9;
  --md-ref-palette-neutral95: #f0f1ec;
  --md-ref-palette-neutral96: #f3f4ee;
  --md-ref-palette-neutral98: #f9faf4;
  --md-ref-palette-neutral99: #fcfdf7;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #09100a;
  --md-ref-palette-neutral-variant5: #0c130c;
  --md-ref-palette-neutral-variant6: #0e150f;
  --md-ref-palette-neutral-variant10: #171d17;
  --md-ref-palette-neutral-variant12: #1a211a;
  --md-ref-palette-neutral-variant17: #252c25;
  --md-ref-palette-neutral-variant20: #2b322b;
  --md-ref-palette-neutral-variant22: #30372f;
  --md-ref-palette-neutral-variant24: #343b33;
  --md-ref-palette-neutral-variant25: #363d36;
  --md-ref-palette-neutral-variant30: #414941;
  --md-ref-palette-neutral-variant35: #4d544c;
  --md-ref-palette-neutral-variant40: #596058;
  --md-ref-palette-neutral-variant50: #727970;
  --md-ref-palette-neutral-variant60: #8b9389;
  --md-ref-palette-neutral-variant70: #a6ada3;
  --md-ref-palette-neutral-variant80: #c1c9be;
  --md-ref-palette-neutral-variant87: #d5dcd1;
  --md-ref-palette-neutral-variant90: #dde5da;
  --md-ref-palette-neutral-variant92: #e3eadf;
  --md-ref-palette-neutral-variant94: #e9f0e5;
  --md-ref-palette-neutral-variant95: #ecf3e8;
  --md-ref-palette-neutral-variant96: #eff6ea;
  --md-ref-palette-neutral-variant98: #f4fcf0;
  --md-ref-palette-neutral-variant99: #f7fef3;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #076d30;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #9cf7a9;
  --md-sys-color-on-primary-container-light: #002109;
  --md-sys-color-primary-fixed-light: #9cf7a9;
  --md-sys-color-on-primary-fixed-light: #002109;
  --md-sys-color-primary-fixed-dim-light: #81da8f;
  --md-sys-color-on-primary-fixed-variant-light: #005321;
  --md-sys-color-secondary-light: #126d34;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #a0f6ae;
  --md-sys-color-on-secondary-container-light: #00210a;
  --md-sys-color-secondary-fixed-light: #a0f6ae;
  --md-sys-color-on-secondary-fixed-light: #00210a;
  --md-sys-color-secondary-fixed-dim-light: #84d994;
  --md-sys-color-on-secondary-fixed-variant-light: #005323;
  --md-sys-color-tertiary-light: #39656d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bdeaf3;
  --md-sys-color-on-tertiary-container-light: #001f24;
  --md-sys-color-tertiary-fixed-light: #bdeaf3;
  --md-sys-color-on-tertiary-fixed-light: #001f24;
  --md-sys-color-tertiary-fixed-dim-light: #a1ced7;
  --md-sys-color-on-tertiary-fixed-variant-light: #1f4d54;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fcfdf7;
  --md-sys-color-on-background-light: #1a1c19;
  --md-sys-color-outline-light: #727970;
  --md-sys-color-inverse-on-surface-light: #f0f1ec;
  --md-sys-color-inverse-surface-light: #2e312e;
  --md-sys-color-inverse-primary-light: #81da8f;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #076d30;
  --md-sys-color-outline-variant-light: #c1c9be;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f9faf4;
  --md-sys-color-on-surface-light: #1a1c19;
  --md-sys-color-surface-variant-light: #dde5da;
  --md-sys-color-on-surface-variant-light: #414941;
  --md-sys-color-surface-container-highest-light: #e2e3dd;
  --md-sys-color-surface-container-high-light: #e7e9e3;
  --md-sys-color-surface-container-light: #edeee9;
  --md-sys-color-surface-container-low-light: #f3f4ee;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #d9dbd5;
  --md-sys-color-surface-bright-light: #f9faf4;
  /* dark */
  --md-sys-color-primary-dark: #81da8f;
  --md-sys-color-on-primary-dark: #003915;
  --md-sys-color-primary-container-dark: #005321;
  --md-sys-color-on-primary-container-dark: #9cf7a9;
  --md-sys-color-primary-fixed-dark: #9cf7a9;
  --md-sys-color-on-primary-fixed-dark: #002109;
  --md-sys-color-primary-fixed-dim-dark: #81da8f;
  --md-sys-color-on-primary-fixed-variant-dark: #005321;
  --md-sys-color-secondary-dark: #84d994;
  --md-sys-color-on-secondary-dark: #003916;
  --md-sys-color-secondary-container-dark: #005323;
  --md-sys-color-on-secondary-container-dark: #a0f6ae;
  --md-sys-color-secondary-fixed-dark: #a0f6ae;
  --md-sys-color-on-secondary-fixed-dark: #00210a;
  --md-sys-color-secondary-fixed-dim-dark: #84d994;
  --md-sys-color-on-secondary-fixed-variant-dark: #005323;
  --md-sys-color-tertiary-dark: #a1ced7;
  --md-sys-color-on-tertiary-dark: #00363d;
  --md-sys-color-tertiary-container-dark: #1f4d54;
  --md-sys-color-on-tertiary-container-dark: #bdeaf3;
  --md-sys-color-tertiary-fixed-dark: #bdeaf3;
  --md-sys-color-on-tertiary-fixed-dark: #001f24;
  --md-sys-color-tertiary-fixed-dim-dark: #a1ced7;
  --md-sys-color-on-tertiary-fixed-variant-dark: #1f4d54;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c19;
  --md-sys-color-on-background-dark: #e2e3dd;
  --md-sys-color-outline-dark: #8b9389;
  --md-sys-color-inverse-on-surface-dark: #1a1c19;
  --md-sys-color-inverse-surface-dark: #e2e3dd;
  --md-sys-color-inverse-primary-dark: #076d30;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #81da8f;
  --md-sys-color-outline-variant-dark: #414941;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #111411;
  --md-sys-color-on-surface-dark: #c5c7c2;
  --md-sys-color-surface-variant-dark: #414941;
  --md-sys-color-on-surface-variant-dark: #c1c9be;
  --md-sys-color-surface-container-highest-dark: #333532;
  --md-sys-color-surface-container-high-dark: #282b27;
  --md-sys-color-surface-container-dark: #1e201d;
  --md-sys-color-surface-container-low-dark: #1a1c19;
  --md-sys-color-surface-container-lowest-dark: #0c0f0c;
  --md-sys-color-surface-dim-dark: #111411;
  --md-sys-color-surface-bright-dark: #373a36;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
