:root {
  --md-source: #3898ed;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #000f20;
  --md-ref-palette-primary5: #001224;
  --md-ref-palette-primary6: #001428;
  --md-ref-palette-primary10: #001d36;
  --md-ref-palette-primary12: #00213c;
  --md-ref-palette-primary17: #002b4d;
  --md-ref-palette-primary20: #003258;
  --md-ref-palette-primary22: #00375f;
  --md-ref-palette-primary24: #003b66;
  --md-ref-palette-primary25: #003d6a;
  --md-ref-palette-primary30: #00497c;
  --md-ref-palette-primary35: #00558f;
  --md-ref-palette-primary40: #0061a3;
  --md-ref-palette-primary50: #007bcb;
  --md-ref-palette-primary60: #3495ea;
  --md-ref-palette-primary70: #62b0ff;
  --md-ref-palette-primary80: #9ecaff;
  --md-ref-palette-primary87: #c2dcff;
  --md-ref-palette-primary90: #d1e4ff;
  --md-ref-palette-primary92: #dbe9ff;
  --md-ref-palette-primary94: #e5efff;
  --md-ref-palette-primary95: #e9f1ff;
  --md-ref-palette-primary96: #eef4ff;
  --md-ref-palette-primary98: #f8f9ff;
  --md-ref-palette-primary99: #fdfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #030f1d;
  --md-ref-palette-secondary5: #05121f;
  --md-ref-palette-secondary6: #071422;
  --md-ref-palette-secondary10: #101c2b;
  --md-ref-palette-secondary12: #14202f;
  --md-ref-palette-secondary17: #1e2b3a;
  --md-ref-palette-secondary20: #253140;
  --md-ref-palette-secondary22: #293645;
  --md-ref-palette-secondary24: #2e3a49;
  --md-ref-palette-secondary25: #303c4c;
  --md-ref-palette-secondary30: #3b4858;
  --md-ref-palette-secondary35: #475364;
  --md-ref-palette-secondary40: #535f70;
  --md-ref-palette-secondary50: #6b7889;
  --md-ref-palette-secondary60: #8592a4;
  --md-ref-palette-secondary70: #9facbf;
  --md-ref-palette-secondary80: #bac8db;
  --md-ref-palette-secondary87: #cedbef;
  --md-ref-palette-secondary90: #d6e3f7;
  --md-ref-palette-secondary92: #dce9fd;
  --md-ref-palette-secondary94: #e5efff;
  --md-ref-palette-secondary95: #e9f1ff;
  --md-ref-palette-secondary96: #eef4ff;
  --md-ref-palette-secondary98: #f8f9ff;
  --md-ref-palette-secondary99: #fdfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #170723;
  --md-ref-palette-tertiary5: #190926;
  --md-ref-palette-tertiary6: #1c0c29;
  --md-ref-palette-tertiary10: #251432;
  --md-ref-palette-tertiary12: #291836;
  --md-ref-palette-tertiary17: #342341;
  --md-ref-palette-tertiary20: #3b2948;
  --md-ref-palette-tertiary22: #3f2e4c;
  --md-ref-palette-tertiary24: #443251;
  --md-ref-palette-tertiary25: #463453;
  --md-ref-palette-tertiary30: #523f5f;
  --md-ref-palette-tertiary35: #5e4b6c;
  --md-ref-palette-tertiary40: #6b5778;
  --md-ref-palette-tertiary50: #846f92;
  --md-ref-palette-tertiary60: #9f89ad;
  --md-ref-palette-tertiary70: #baa3c8;
  --md-ref-palette-tertiary80: #d6bee5;
  --md-ref-palette-tertiary87: #ead1f9;
  --md-ref-palette-tertiary90: #f2daff;
  --md-ref-palette-tertiary92: #f6e1ff;
  --md-ref-palette-tertiary94: #f9e8ff;
  --md-ref-palette-tertiary95: #fbecff;
  --md-ref-palette-tertiary96: #fcefff;
  --md-ref-palette-tertiary98: #fff7fd;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0d0e11;
  --md-ref-palette-neutral5: #0f1114;
  --md-ref-palette-neutral6: #121316;
  --md-ref-palette-neutral10: #1a1c1e;
  --md-ref-palette-neutral12: #1e2022;
  --md-ref-palette-neutral17: #282a2d;
  --md-ref-palette-neutral20: #2f3033;
  --md-ref-palette-neutral22: #333538;
  --md-ref-palette-neutral24: #38393c;
  --md-ref-palette-neutral25: #3a3b3e;
  --md-ref-palette-neutral30: #45474a;
  --md-ref-palette-neutral35: #515255;
  --md-ref-palette-neutral40: #5d5e61;
  --md-ref-palette-neutral50: #76777a;
  --md-ref-palette-neutral60: #909094;
  --md-ref-palette-neutral70: #ababae;
  --md-ref-palette-neutral80: #c6c6ca;
  --md-ref-palette-neutral87: #dadadd;
  --md-ref-palette-neutral90: #e2e2e6;
  --md-ref-palette-neutral92: #e8e8eb;
  --md-ref-palette-neutral94: #eeedf1;
  --md-ref-palette-neutral95: #f1f0f4;
  --md-ref-palette-neutral96: #f4f3f7;
  --md-ref-palette-neutral98: #faf9fc;
  --md-ref-palette-neutral99: #fdfcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0a0f14;
  --md-ref-palette-neutral-variant5: #0d1117;
  --md-ref-palette-neutral-variant6: #0f141a;
  --md-ref-palette-neutral-variant10: #171c22;
  --md-ref-palette-neutral-variant12: #1b2026;
  --md-ref-palette-neutral-variant17: #262a31;
  --md-ref-palette-neutral-variant20: #2c3137;
  --md-ref-palette-neutral-variant22: #30353c;
  --md-ref-palette-neutral-variant24: #353940;
  --md-ref-palette-neutral-variant25: #373c42;
  --md-ref-palette-neutral-variant30: #42474e;
  --md-ref-palette-neutral-variant35: #4e535a;
  --md-ref-palette-neutral-variant40: #5a5f66;
  --md-ref-palette-neutral-variant50: #73777f;
  --md-ref-palette-neutral-variant60: #8d9199;
  --md-ref-palette-neutral-variant70: #a7abb4;
  --md-ref-palette-neutral-variant80: #c3c7cf;
  --md-ref-palette-neutral-variant87: #d6dae3;
  --md-ref-palette-neutral-variant90: #dfe2eb;
  --md-ref-palette-neutral-variant92: #e4e8f1;
  --md-ref-palette-neutral-variant94: #eaeef7;
  --md-ref-palette-neutral-variant95: #edf1fa;
  --md-ref-palette-neutral-variant96: #f0f4fc;
  --md-ref-palette-neutral-variant98: #f8f9ff;
  --md-ref-palette-neutral-variant99: #fdfcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #0061a3;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d1e4ff;
  --md-sys-color-on-primary-container-light: #001d36;
  --md-sys-color-primary-fixed-light: #d1e4ff;
  --md-sys-color-on-primary-fixed-light: #001d36;
  --md-sys-color-primary-fixed-dim-light: #9ecaff;
  --md-sys-color-on-primary-fixed-variant-light: #00497c;
  --md-sys-color-secondary-light: #535f70;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d6e3f7;
  --md-sys-color-on-secondary-container-light: #101c2b;
  --md-sys-color-secondary-fixed-light: #d6e3f7;
  --md-sys-color-on-secondary-fixed-light: #101c2b;
  --md-sys-color-secondary-fixed-dim-light: #bac8db;
  --md-sys-color-on-secondary-fixed-variant-light: #3b4858;
  --md-sys-color-tertiary-light: #6b5778;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #f2daff;
  --md-sys-color-on-tertiary-container-light: #251432;
  --md-sys-color-tertiary-fixed-light: #f2daff;
  --md-sys-color-on-tertiary-fixed-light: #251432;
  --md-sys-color-tertiary-fixed-dim-light: #d6bee5;
  --md-sys-color-on-tertiary-fixed-variant-light: #523f5f;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fdfcff;
  --md-sys-color-on-background-light: #1a1c1e;
  --md-sys-color-outline-light: #73777f;
  --md-sys-color-inverse-on-surface-light: #f1f0f4;
  --md-sys-color-inverse-surface-light: #2f3033;
  --md-sys-color-inverse-primary-light: #9ecaff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #0061a3;
  --md-sys-color-outline-variant-light: #c3c7cf;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #faf9fc;
  --md-sys-color-on-surface-light: #1a1c1e;
  --md-sys-color-surface-variant-light: #dfe2eb;
  --md-sys-color-on-surface-variant-light: #42474e;
  --md-sys-color-surface-container-highest-light: #e2e2e6;
  --md-sys-color-surface-container-high-light: #e8e8eb;
  --md-sys-color-surface-container-light: #eeedf1;
  --md-sys-color-surface-container-low-light: #f4f3f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dadadd;
  --md-sys-color-surface-bright-light: #faf9fc;
  /* dark */
  --md-sys-color-primary-dark: #9ecaff;
  --md-sys-color-on-primary-dark: #003258;
  --md-sys-color-primary-container-dark: #00497c;
  --md-sys-color-on-primary-container-dark: #d1e4ff;
  --md-sys-color-primary-fixed-dark: #d1e4ff;
  --md-sys-color-on-primary-fixed-dark: #001d36;
  --md-sys-color-primary-fixed-dim-dark: #9ecaff;
  --md-sys-color-on-primary-fixed-variant-dark: #00497c;
  --md-sys-color-secondary-dark: #bac8db;
  --md-sys-color-on-secondary-dark: #253140;
  --md-sys-color-secondary-container-dark: #3b4858;
  --md-sys-color-on-secondary-container-dark: #d6e3f7;
  --md-sys-color-secondary-fixed-dark: #d6e3f7;
  --md-sys-color-on-secondary-fixed-dark: #101c2b;
  --md-sys-color-secondary-fixed-dim-dark: #bac8db;
  --md-sys-color-on-secondary-fixed-variant-dark: #3b4858;
  --md-sys-color-tertiary-dark: #d6bee5;
  --md-sys-color-on-tertiary-dark: #3b2948;
  --md-sys-color-tertiary-container-dark: #523f5f;
  --md-sys-color-on-tertiary-container-dark: #f2daff;
  --md-sys-color-tertiary-fixed-dark: #f2daff;
  --md-sys-color-on-tertiary-fixed-dark: #251432;
  --md-sys-color-tertiary-fixed-dim-dark: #d6bee5;
  --md-sys-color-on-tertiary-fixed-variant-dark: #523f5f;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c1e;
  --md-sys-color-on-background-dark: #e2e2e6;
  --md-sys-color-outline-dark: #8d9199;
  --md-sys-color-inverse-on-surface-dark: #1a1c1e;
  --md-sys-color-inverse-surface-dark: #e2e2e6;
  --md-sys-color-inverse-primary-dark: #0061a3;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #9ecaff;
  --md-sys-color-outline-variant-dark: #42474e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #121316;
  --md-sys-color-on-surface-dark: #c6c6ca;
  --md-sys-color-surface-variant-dark: #42474e;
  --md-sys-color-on-surface-variant-dark: #c3c7cf;
  --md-sys-color-surface-container-highest-dark: #333538;
  --md-sys-color-surface-container-high-dark: #282a2d;
  --md-sys-color-surface-container-dark: #1e2022;
  --md-sys-color-surface-container-low-dark: #1a1c1e;
  --md-sys-color-surface-container-lowest-dark: #0d0e11;
  --md-sys-color-surface-dim-dark: #121316;
  --md-sys-color-surface-bright-dark: #38393c;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
