@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
body {
    min-width: 800px; 
  }

  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-item.dropdown {
    margin-left: 10px;
  }
  